AUTH_SECRET=my-super-secret
AUTH_URL=http://localhost:4173
#DB
DATABASE_HOST=127.0.0.1
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_MIGRATE=true
#S3
S3_REGION=auto
S3_ENDPOINT=http://127.0.0.1:9000
S3_ACCESS_KEY_ID=minio-dev
S3_SECRET_ACCESS_KEY=minio-dev
S3_BUCKET_NAME=test
