AUTH_SECRET=my-super-secret
AUTH_URL=http://localhost:4173
OIDC_NAME="OIDC Mock"
OIDC_ISSUER=https://oidcmock.dev
OIDC_CLIENT_ID=your-client-id
OIDC_CLIENT_SECRET=test-client-secret
WHITELISTED_EMAILS=john@example.com,jane@company.com
#DB
DATABASE_HOST=127.0.0.1
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_MIGRATE=true
#S3
S3_REGION=auto
S3_ENDPOINT=http://127.0.0.1:9000
S3_ACCESS_KEY_ID=minio-dev
S3_SECRET_ACCESS_KEY=minio-dev
S3_BUCKET_NAME=test

# Processing
PROCESSING_KEY=key
PROCESSING_URL=http://localhost:8000
