# S3
S3_REGION=auto
S3_ENDPOINT=http://127.0.0.1:9000
S3_ACCESS_KEY_ID=minio-dev
S3_SECRET_ACCESS_KEY=minio-dev
S3_BUCKET_NAME=test
# General
API_KEY=key # This key needs to be the same as the one in the main env
BACKEND_URL=http://localhost:5173
